{% extends 'base-front.html.twig' %}

{% block title %}Baladity Home{% endblock %}

{% block barreTitre %}
					<li><a href="{{ path('app_main_front') }}">Home</a></li>
					<li><a href="about.html">Actualite</a></li>
          <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class="active"></i></a>
						<ul>
							<li><a href="{{ path('typeReclamation') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					<li><a href="pricing.html">Evenement</a></li>
					<li><a href="contact.html">Contact</a></li>
              <li><a href="{{ path('chatbot') }}">chatbot</a></li>

                    <li><a href="contact.html">About Us</a></li>
{% endblock %}
{% block body %}

{% endblock %}

{% block rest %}

<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('{{ asset('images/1698797913755.jfif') }}');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Reclamation</h2>
          <p>Une réclamation dans une municipalité est comme un signal que vous envoyez à votre mairie, comme un trou dans la route, des poubelles qui débordent, ou un lampadaire cassé. En signalant ces problèmes, vous aidez la mairie à les résoudre et à rendre votre quartier plus agréable pour tout le monde.</p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="{{path('app_main_front')}}">Home</a></li>
        <li>Reclamation</li>
      </ol>
    </div>
  </nav>
</div>
<section id="featured-services" class="featured-services">
  <div class="container">

    <div class="row gy-4">
      <div class="pagetitle">
        <h3 class="title">Choisissez votre type de réclamation :</h3>
      </div>

      <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
        <div>
          <h4 class="title">Cas urgent</h4>
          <p class="description">Signalez les urgences médicales, incendies, fuites de gaz, inondations ou défaillances des infrastructures critiques pour une intervention rapide et sauver des vies.</p>
          <a href="{{ path('ajouterReclamationF', { cas: 1 }) }}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
        <div>
          <h4 class="title">Cas non urgent</h4>
          <p class="description">Pour les problèmes routiers, la collecte des déchets, l'environnement, l'aménagement paysager, les problèmes de logement ou les services municipaux, signalez-les pour améliorer notre communauté à long terme.
          </p>
          <a href="{{ path('ajouterReclamationF', { cas: 2 }) }}" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section>




{% endblock %}
