{% extends 'base-back.html.twig' %}

{% block title %}Ajouter Tâche{% endblock %}

{% block TacheNavState %}
<a class="nav-link" data-bs-target="#GestionTache-nav" data-bs-toggle="collapse" href="#" aria-expanded="true">
    {% endblock %}

    {% block TacheContentState %}
    <ul id="GestionTache-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
        {% endblock %}

{% block AjouterTacheNav %}
    <a href="{{ path('tache_add') }}" class="active">
        <i class="bi bi-circle"></i><span>Ajouter Tache</span>
    </a>
{% endblock %}

{% block body %}
    <form class="row g-3"> {{ form_start(f) }}
        <div class="col-md-4">

            {{ form_widget(f.nom_Cat, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-md-4">

            {{ form_widget(f.titre_T, { 'attr': {'class': 'form-control'} }) }}
        </div>
         <div class="col-md-4">
            {{ form_widget(f.pieceJointe_T, { 'attr': {'class': 'form-control'}, 'type': 'file', 'id': 'pieceJointe_T', 'name': 'pieceJointe_T'}) }}
        </div>


        <div class="col-md-5">
            {{ form_widget(f.date_DT, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-md-5">

            {{ form_widget(f.date_FT, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-5">

            {{ form_widget(f.desc_T, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-5">
            {% for choice in f.etat_T %}
                <div class="form-check">
                    {{ form_widget(choice, { 'attr': {'class': 'form-check-input'} }) }}
                    {{ form_label(choice, null, { 'label_attr': {'class': 'form-check-label'} }) }}
                </div>
            {% endfor %}
        </div>
    <div class="text-center">
            {{ form_widget(f.Save, { 'attr': {'class': 'btn btn-outline-primary'} }) }}
            {{ form_widget(f.Reset, { 'attr': {'class': 'btn btn-secondary'} }) }}
        </div>
    </div>

    {{ form_end(f) }}
    <div class="col-md-4" style="margin-top: 10px;"> <!-- Adjust margin-top as needed -->
        <button onclick="goBack()" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>

{% endblock %}
