{% extends 'base-back.html.twig' %}

{% block title %}Détails de la Tâche{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Catégorie</h5>
                        <p class="card-text">{{ tache.getNomCat() }}</p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Titre</h5>
                        <p class="card-text">{{ tache.getTitreT() }}</p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Date Debut</h5>
                        <p class="card-text">{{ tache.getDateDT()|date('d-m-Y') }}</p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Date Fin</h5>
                        <p class="card-text">{{ tache.getDateFT()|date('d-m-Y') }}</p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Description</h5>
                        <p class="card-text">{{ tache.getDescT() }}</p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-primary">État</h5>
                        <p class="card-text">{{ tache.getEtatT() }}</p>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-3">
                    <a href="{{ path('tache_add') }}" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Ajouter Tâche</a>
                    <a href="{{ path('tache_list') }}" class="btn btn-outline-primary"><i class="bi bi-list"></i> Liste des Tâches</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm">
                    {% if tache.getPieceJointeT() %}
                        <img src="{{ asset('uploads/' ~ tache.getPieceJointeT()) }}" class="card-img-top" alt="Piece jointe">
                    {% else %}
                        <div class="card-body">
                            <p class="card-text text-muted mt-3">Aucune pièce jointe pour cette tâche.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
