{% extends 'base-back.html.twig' %}

{% block title %}Liste des Tâches{% endblock %}


{% block TacheNavState %}
<a class="nav-link" data-bs-target="#GestionTache-nav" data-bs-toggle="collapse" href="#" aria-expanded="true">{% endblock %}
	{% block TacheContentState %}
	<ul id="GestionTache-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
		{% endblock %}
		{% block ListeTacheNav %}
		<a href="{{ path('tache_list') }}" class="active"><i class="bi bi-circle"></i><span>Liste Tache</span></a>{% endblock %}

		{% block body %}
		<table class="table table-hover">
			<thead>
				<tr class="table-primary">
					<th scope="col">Titre</th>
					<th scope="col">Echeance</th>
					<th scope="col">Etat</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for tache in l %}
				<tr>
					<td><h6>{{ tache.getTitreT() }}</h6></td>
					<td><h6>{{ tache.getEcheance().days }} jours</h6></td>
					<td><h6>{{ tache.getEtatT() }}</h6></td>
					<td>
						<div class="btn-group" role="group" aria-label="Actions">
							<button onclick="location.href='{{ path('tache_detail', {'i': tache.getIdT()}) }}'" type="button" class="btn btn-outline-primary"><i class="bi bi-info-circle"></i></button>
							<button onclick="location.href='{{ path('tache_update', {'i': tache.getIdT()}) }}'" type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
							<button onclick="location.href='{{ path('tache_delete', {'i': tache.getIdT()}) }}'" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% if currentPage > 1 %}
				<li class="page-item">
					<a class="page-link" href="{{ path('tache_list', {'page': currentPage - 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% endif %}

				{% for i in 1..totalPages %}
				<li class="page-item {% if currentPage == i %}active{% endif %}">
					<a class="page-link" href="{{ path('tache_list', {'page': i}) }}">{{ i }}</a>
				</li>
				{% endfor %}

				{% if currentPage < totalPages %}
					<li class="page-item">
						<a class="page-link" href="{{ path('tache_list', {'page': currentPage + 1}) }}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</nav>

			<button onclick="location.href='{{ path('tache_add') }}'" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Ajouter Tâche</button>
			<button onclick="location.href='{{ path('tache_piechart') }}'" class="btn btn-outline-primary"><i class="bi bi-star me-1"></i> TOP 10 Meilleurs Employées</button>






		
			<input type="text" placeholder="What do you need?" id="search-input">
			<div id="search-results"></div>
			
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
			<script>
				$(document).ready(function () {
					// Ecouter l'événement de frappe sur le champ de recherche et le changement de date
					$('#search-input').on('keyup change', function () {
						// Récupérer la valeur du champ de recherche
						var query = $('#search-input').val();
			
						// Vérifier si le champ de recherche est vide
						if (!query.trim()) {
							$('#search-results').html('<p>Please provide a search criteria.</p>');
							return;
						}
			
						// Effectuer la recherche AJAX
						$.ajax({
							type: 'GET',
							url: '/tache/search',
							data: { q: query },
							success: function (data) {
								var resultsDiv = $('#search-results');
								resultsDiv.empty();
								if (data.length === 0) {
									resultsDiv.append('<p>No results found.</p>');
								} else {
									for (var i = 0; i < data.length; i++) {
										var result = data[i];
										resultsDiv.append(
											'<a href="' + result.url + '">' + result.nom + '</a>'
										);
									}
								}
							},
							error: function (error) {
								console.log(error);
							},
						});
					});
				});
			</script>
			<style>
				#search-results {
					margin-top: 50px;
					display: flex;
					flex-direction: column;
				}
			
				#search-results a {
					padding: 10px;
					margin-bottom: 10px;
					background-color: #f5f5f5;
					color: #333;
					text-decoration: none;
					border-radius: 5px;
					transition: background-color 0.3s ease;
					box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
				}
			
				#search-results a:hover {
					background-color: #eee;
					box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
				}
			</style>
			



			{% endblock %}