{% extends 'base-front.html.twig' %}

{% block title %}Baladity Home{% endblock %}

{% block barreTitre %}
    <li><a href="{{ path('app_main_front') }}">Home</a></li>
    <li><a href="about.html">Actualite</a></li>
    <li class="dropdown">
        <a href="#"><span>Reclamation</span> <i class="bi bi-chevron-down dropdown-indicator" class="active"></i></a>
        <ul>
            <li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
            <li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
        </ul>
    </li>
    <li><a href="pricing.html">Evenement</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="{{ path('chatbot') }}">chatbot</a></li>
    <li><a href="contact.html">About Us</a></li>
{% endblock %}
{% block body %}
{% endblock %}

{% block rest %}
    <br>
  <nav>
    
    <!-- Insérez ici le contenu de la template de profil -->
    <div class="container">
        <div class="main-body">
            <!-- Début de la template de profil -->
     

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <div class="col-md-6">
                                        {% if user.getImageUser() %}
                                            {% set fileExtension = user.getImageUser()|split('.')|last %}
                                            {% if fileExtension in ['jpg', 'jpeg', 'png', 'gif'] %}
                                                <img src="{{ asset('uploads/' ~ user.getImageUser()) }}" class="img-thumbnail " alt="Piece jointe" style="width: 100%; max-width: 300px;"> <!-- Added rounded-circle class -->
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <h4>{{user.getNomUser}}</h4>
                                    <p class="text-muted font-size-sm">{{user.getTypeUser}}</p>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-info "  href="{{ path('app_profile_edit') }}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.getNomUser}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.getEmailUser}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    +216 {{user.getPhoneNumberUser}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Municipalité</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.getIdMuni}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{user.getLocationUser}}
                                </div>
                            </div>
                            <hr>
                            <!-- 
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info "  href="{{ path('app_profile_edit') }}">Edit</a>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin de la template de profil -->
        </div>
    </div>
{% endblock %}


